<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bird_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{101,74}</string>
                <key>spriteSourceSize</key>
                <string>{101,74}</string>
                <key>textureRect</key>
                <string>{{320,1},{101,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bird_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{105,74}</string>
                <key>spriteSourceSize</key>
                <string>{105,74}</string>
                <key>textureRect</key>
                <string>{{1,1},{105,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bird_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{105,74}</string>
                <key>spriteSourceSize</key>
                <string>{105,74}</string>
                <key>textureRect</key>
                <string>{{108,1},{105,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bird_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{103,74}</string>
                <key>spriteSourceSize</key>
                <string>{103,74}</string>
                <key>textureRect</key>
                <string>{{215,1},{103,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>bird.png</string>
            <key>size</key>
            <string>{422,76}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:cbaac7e44617f3b17ed623fcbf220807:7ab77daedabce1135c881dd7481ce6b7:5af5b3fbab807b4ca11b45d111eeecdf$</string>
            <key>textureFileName</key>
            <string>bird.png</string>
        </dict>
    </dict>
</plist>
